@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --padding-1: 100px;
  --margin-1: 50px;
  --background-color-1: #f0f0f0;
  --width-1: 200px;
  --height-1: 100px;
  --font-roboto: 'Roboto', cursive;
}


/* ===================  16 Directives ======================================== */
/* Bootstrap button  */
@layer components {
  .btn-light {
    @apply border bg-white rounded px-5 py-1.5 
           hover:bg-slate-200 hover:text-white 
          focus:text-white ;
  }
  .btn-primary {
    @apply border bg-blue-500 rounded px-5 py-1.5 
           hover:bg-blue-700 hover:text-white 
           focus:bg-blue-500 focus:text-white 
           focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
  .btn-warning {
    @apply border bg-yellow-400 rounded px-5 py-1.5 
           hover:bg-yellow-600 hover:text-white 
           focus:bg-yellow-500 focus:text-white 
           focus:outline-none focus:ring-2 focus:ring-yellow-300;
  } 
  .btn-success {
    @apply border bg-green-500 rounded px-5 py-1.5 
           hover:bg-green-700 hover:text-white 
           focus:bg-green-500 focus:text-white 
           focus:outline-none focus:ring-2 focus:ring-green-300;
  } 
  .btn-danger {
    @apply border bg-red-500 rounded px-5 py-1.5 
           hover:bg-red-700 hover:text-white 
           focus:bg-red-500 focus:text-white 
           focus:outline-none focus:ring-2 focus:ring-red-300;
  } 
  .btn-dark {
    @apply border bg-gray-800 rounded px-5 py-1.5 
           hover:bg-gray-900 hover:text-white 
           focus:bg-gray-700 focus:text-white 
           focus:outline-none focus:ring-2 focus:ring-gray-300;
  } 
  .btn-info {
    @apply border bg-yellow-400 rounded px-5 py-1.5 
           hover:bg-yellow-600 hover:text-white 
           focus:bg-yellow-500 focus:text-white 
           focus:outline-none focus:ring-2 focus:ring-yellow-300;
  }
  
/* Custom container styles  */
.custom_container{
  @apply bg-lime-300 p-10 m-5 w-96 h-48;
}


/* Border  */
/* Custom border styles */
.custom_border{
  @apply border-4 border-dashed border-blue-500 p-10 m-5 w-96 h-48;
}

/* Custom color styles */
.custom_color{
  @apply border-4 border-t-amber-300 border-l-black border-r-lime-300 border-b-violet-400 text-black px-4 py-2 rounded hover:bg-purple-700;
} 
}


.image_gallary{
  @apply w-96 border-4 border-lime-300 hover:bg-lime-200 hover:scale-110 transition duration-1000 ease-in-out hover:brightness-125;
}

